<h1>Create New Article</h1>
<% if @article.errors.any? %>
  <h3>Errors stopping the artile from being saved</h3>
  <ul>
    <% @article.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with scope: :article, url: articles_path, local: true  do |form| %>
  Form contents
  <p>
    <%= form.label :title%><br/>
    <%= form.text_field :title%>
  </p>
  <p>
    <%= form.label :description%><br/>
    <%= form.text_area :description%>
  </p>
  <p>
    <%= form.submit%><br/>
  </p>
  <p><%= link_to 'Return to Articles listing', articles_path %></p>
<% end %>
