<div class="container"></div>
<div class="row justify-content-center">
  <div class="col-10">
    <%= render 'shared/errors', obj: @user %>
    <%= form_with(model: @user,class:"shadow p-3 mb-5 bg-body rounded", local: true)  do |form| %>
      <div class="mb-3">
        <%= form.label :username, class:"form-label"%>
        <%= form.text_field :username, class:"form-control", id:"username", placeholder:"Enter Username"%>
      </div>
      <div class="mb-3">
        <%= form.label :email, class:"form-label"%>
        <%= form.email_field :email, class:"form-control", id:"email", placeholder:"Enter Email Address"%>
      </div>
      <div class="mb-3">
        <%= form.label :password, class:"form-label"%>
        <%= form.password_field :password, class:"form-control", id:"password", placeholder:"Enter password"%>
      </div>
      <div class="mb-3">
        <%= form.submit(@user.new_record? ? "Sign up" : "Update account", class:"btn btn-primary")%>
      </div>
    <% end %>
  </div>
</div>
<div class="text-center">
  <%= link_to 'Return to Articles listing', articles_path, class: "btn btn-dark btn-lg" %>
</div>
</div>